@inherits LayoutComponentBase
<div class="page">

    <BlazoredToasts />

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4 mt-5">
            @Body
        </article>
    </main>
</div>
